@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing){

/*  Newtab  */
.search-inner-wrapper {
  display: none !important;
}

.icon.icon-settings {
  display: none !important;
}

.outer-wrapper .search-wrapper {
  padding: 0px !important;
}

.logo-and-wordmark {
  display: none !important;
}
body{
  background-color: #15161e!important;
}

}

@-moz-document url-prefix(about:) {

  /*  Removes the scrollbar on some places  */
  body,
  html {
    overflow-y: auto;
  }

  /*  Devtools  */
  @-moz-document url-prefix(about:devtools) {
    #toolbox-container {
      margin-top: 10px !important;
    }

    .devtools-tabbar {
      background: transparent !important;
    }

    .devtools-tab-line {
      border-radius: 0 0 5px 5px;
    }

    .customize-animate-enter-done,
    .customize-menu,
    .top-site-outer:hover,
    button {
      background-color: transparent !important;
    }
  }
}
